@font-face {
  font-family: Waukegan;
  src: url(fonts/Waukegan.ttf);
}

@font-face {
  font-family: nastaliq;
  src: url(fonts/nastaliq.ttf);
}

@font-face {
  font-family: kyay;
  src: url(fonts/Khyay-Regular.ttf);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes bounce-fade {
  0%,
  100% {
    transform: translateY(0.5vw);
    opacity: 1;
  }
  30% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.4;
    transform: translateY(0);
  }
  90% {
    opacity: 0.2;
    transform: translateY(0);
  }
}

header .top {
  display: flex;
  justify-content: center;
  background-color: #569C87;
  color: #F7C945;
  padding: 8px;
  width: 100%;
}

header .top h1 {
  font-family: 'waukegan';
  font-size: 3em;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

body .conteneur {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
}

#menus {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

#menus .row {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

#menus .row .menu-container {
  width: 47%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding-top: 75%;
  position: relative;
}

#menus .row .menu-container a {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

#menus .row .menu-container a div {
  transform: scale(1);
  opacity: 0.2;
  transition: all 400ms;
}

#menus .row .menu-container a:hover div {
  transform: scale(1.2, 1.2);
  opacity: 1;
  transition: all 400ms;
}

#menus .row .menu-container div {
  height: 90%;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#menus .row .menu-container div i {
  font-size: 4vw;
  margin-bottom: 2%;
}

#menus .row .menu-container div h2 {
  letter-spacing: 1px;
  font-size: 2em;
  margin-top: 4%;
  margin-bottom: 0;
}

#menus .row .menu-container div h3 {
  font-size: 4em;
  margin-top: 5%;
}

#menus .row #menu-container-1 {
  background-color: #fcdfdb;
}

#menus .row #menu-container-1 div i {
  background: #f05060;
  background: linear-gradient(86deg, #f05060 30%, #f6916a 62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1, 1.2);
}

#menus .row #menu-container-1 div h2 {
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 3em;
  color: #3d1319;
}

#menus .row #menu-container-1 div h3 {
  font-family: 'Short Stack', cursive;
  color: #3d1319;
}

#menus .row #menu-container-2 {
  background-color: #fff5fe;
}

#menus .row #menu-container-2 div h2 {
  font-family: 'Croissant One', cursive;
  background: #e38a12;
  background: linear-gradient(165deg, #e38a12 25%, #8f5aff 82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5vw;
}

#menus .row #menu-container-2 div h3 {
  font-family: 'Tinos', serif;
  color: #c77412;
}

#menus .row #menu-container-3 {
  background-color: #f9f9f9;
}

#menus .row #menu-container-3 div h2 {
  font-family: 'Dancing Script', cursive;
  background: #001585;
  background: linear-gradient(165deg, #001585 0%, #13b4ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#menus .row #menu-container-3 div h3 {
  font-family: 'Shadows Into Light', cursive;
  color: #0887fb;
}

#menus .row #menu-container-4 {
  background-color: #fdfffd;
}

#menus .row #menu-container-4 div h2 {
  font-family: 'Kaushan Script', cursive;
  background: #046b00;
  background: linear-gradient(165deg, #046b00 0%, #c4ffbd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#menus .row #menu-container-4 div h3 {
  font-family: 'Shadows Into Light', cursive;
  color: #72bf56;
}

#coming {
  width: 30%;
  margin: auto;
  display: flex;
  background-color: #579C87;
  align-items: center;
  justify-content: center;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 12px;
  font-family: 'kyay';
}

#coming:hover .loader_dot {
  animation: bounce-fade 1s infinite ease-in-out;
}

#coming:hover .loader_dot:nth-child(1) {
  animation-delay: .25s;
}

#coming:hover .loader_dot:nth-child(2) {
  animation-delay: .5s;
}

#coming:hover .loader_dot:nth-child(3) {
  animation-delay: .75s;
}

#coming p {
  color: #FDCB46;
  font-size: 25px;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
  display: flex;
  align-items: center;
}

#coming p .loader {
  padding-left: 0.8vw;
  display: flex;
  justify-content: center;
  margin: 0;
}

#coming p .loader_dot {
  border-radius: 8px;
  background: #FDCB46;
  display: block;
  width: 0.5vw;
  height: 0.5vw;
  margin: 0 0.2vw;
  transform: translateY(0.5vw);
  opacity: 1;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #569C87;
  color: #F7C945;
  padding: 8px;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-family: "kyay";
  font-size: 1em;
}

footer .space {
  width: 1350px;
}

footer .button-left, footer .button-right {
  border: none;
  background-color: #569C87;
  color: #F7C945;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

footer .button-left:hover, footer .button-right:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

body {
  margin-bottom: 200px;
}

body h1, body h2, body h3 {
  text-align: center;
}

body .restaurant-menu, body .restaurant-menu-p3, body .restaurant-menu-p4, body .restaurant-menu-p5 {
  background-color: #FCDFDA;
  display: grid;
  box-sizing: content-box;
  width: 550px;
  box-shadow: 1px 1px 10px 5px #ccc;
  padding: 45px;
  height: 600px;
  margin-bottom: 100px;
  overflow: hidden;
  margin: auto;
}

body .restaurant-menu .fa-music, body .restaurant-menu-p3 .fa-music, body .restaurant-menu-p4 .fa-music, body .restaurant-menu-p5 .fa-music {
  justify-content: center;
}

.restaurant-menu-p3 {
  background-color: #FEF5FD;
}

.restaurant-menu-p4 {
  background-color: #F9F9F9;
}

.restaurant-menu-p5 {
  background-color: #FDFFFD;
}

table th {
  text-align: inherit;
  width: 100%;
}

table th, table th::before, table th::after {
  display: inline-block;
  vertical-align: middle;
}

table th::before, table th::after {
  height: 10px;
  width: 100px;
  background: orange;
  content: "";
}
