
/* PARAMETRES*/

@import url('https://fonts.googleapis.com/css2?family=Devonshire&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


/*     PAGE MENU LA NOTE ENCHANTE     */
.fonts-devon-p2{
    font-family: 'Devonshire', cursive;
  }
  .fonts-gochi-p2{
    font-family: 'Gochi Hand', cursive;
  }
  body{
    font-family: 'Indie Flower', cursive;
  }