//fonts utiliser 

// -----------Parametre Variable-------------

$full:100%;
$vert:#569C87; // vert du site web 
$jaune: #F7C945; // jaune du site web
@mixin marge-left-right($marge) {
    margin-left: $marge;
    margin-right: $marge;
}
@mixin marge-padding($margepad) {
    margin: $margepad;
    padding: $margepad;
}
//wiggle effect
@keyframes shake { 
    10%, 90% { 
    transform: translate3d(-1px, 0, 0); 
    } 

    20%, 80% { 
    transform: translate3d(2px, 0, 0); 
    } 

    30%, 50%, 70% { 
    transform: translate3d(-4px, 0, 0); 
    } 

    40%, 60% { 
    transform: translate3d(4px, 0, 0); 
    }
}

// -----------Parametre Variable-------------

//  ----------Tête de la page----------------
header{
    .top{
        display: flex;
        justify-content: center;
        background-color: $vert;
        color: $jaune;
        padding: 8px;
        width: $full;
        h1{
            font-family: "waukegan";
            font-size: 3em;
        }
    }   
}
// ----centre de la page avec les 4 menus-----

body{
    min-height: 100%;
    overflow-x: hidden; //cache la scroll bar du bas
    @include marge-padding(0px);
    .conteneur{
        display: flex;
        justify-content: space-between ;
        flex-wrap: wrap;
        margin-top: 50px;
        @include marge-left-right(375px)
    }
}

// -----------------MENUS---------------------

.conteneur{
    .m1,.m2,.m3,.m4{
        box-sizing: content-box;
        width: 350px;
        box-shadow: 1px 1px 10px 5px #ccc; 
        padding: 0;
        height: 450px;
        margin-bottom: 70px;
        overflow: hidden;
        opacity:0.2;
        transition:opacity 2s;
        -webkit-transition: opacity 2s;
        &:hover{
            opacity:1;
            }
    }
}

// image de chaque menu

.m1,.m2,.m3,.m4{
    .menu-img{
        max-width: 350px;
        transform: scale(1);
        transition: transform 2s;
        &:hover{
            transform: scale(1.15);
        }
    }
}

//----------boutton PROCHAINEMENT-----------

.btn{
    margin-bottom: 80px;
    .styled {
        border: 0;
        line-height: 2.5;
        padding: 1px 80px;
        font-size: 1.5rem;
        text-align: center;
        color: $jaune;
        cursor: pointer;
        border-radius: 10px;
        background-color: $vert;
        display: block;
        margin: auto;
        font-family: "kyay";
        transform: scale(1);
        transition: transform 400ms;
        &:hover{
            transform: scale(1.15);
        }


    }
}

//--------------Pied de page----------------

footer{
    display: flex;
    justify-content: center;
    background-color: $vert;
    color: $jaune;
    padding: 8px;
    width: $full;
    position: fixed;
    bottom: 0;
    font-family: "kyay";
    font-size: 1em;
    .space{                
        width: 1350px;  //espace pour le txt pied de page
    }

//------------footer button-------------------
    
    .button-left{

        border: none;
        background-color: $vert;
        color: $jaune;
        padding: 3px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        &:hover { 
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; 
            transform: translate3d(0, 0, 0); 
            backface-visibility: hidden; 
            perspective: 1000px; 
        } 
        
    }
    .button-right{
        @extend .button-left;
    }
}