

/* tête de la page avec nom du site*/
html{
    height: 100%;
}
body{
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}
.top,footer{
    display: flex;
    justify-content: center;
    background-color: #569C87;
    color: #F7C945;
}
.conteneur{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.m1,.m2,.m3,.m4{
    box-sizing: content-box;
    width: 500px;
    border: solid #5B6DCD 10px;
    padding: 5px;
    height: 200px;
}
footer {
    position: absolute; bottom: 0; left: 0; right: 0;
}
.space{
    width: 1390px;
}
