@font-face{
    font-family: Waukegan ;
    src: url(fonts/Waukegan\ LDO\ Bold.ttf);
}
@font-face{
    font-family: nastaliq;
    src: url(fonts/nastaliq.ttf);
}
@font-face{
    font-family: kyay;
    src: url(fonts/Khyay-Regular.ttf);
}
/* tête de la page avec nom du site*/
html{
    height: 100%;
    
}
body{
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}
h1{
    font-family: "Waukegan";
    font-size: 3em;
}
/*pour la tête et le pied de page*/
.top,footer{
    display: flex;
    justify-content: center;
    background-color: #569C87;
    color: #F7C945;
    padding: 8px;
    width: 100%;
    }
footer{
    position: fixed;
    bottom: 0;
    font-family: "kyay";
    font-size: 1em;
}
/*gestion centre de la page avec les 4 menu*/
.conteneur{
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 375px;
    margin-right: 375px;
}
.m1,.m2,.m3,.m4{        /* menus*/
    box-sizing: content-box;
    width: 350px;
    box-shadow: 1px 1px 10px 5px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    padding: 0;
    height: 450px;
    margin-bottom: 70px;
    overflow: hidden;
}
.menu-img{
    max-width: 350px;
}
.space{                
    width: 1350px;  /*espace pour le txt pied de page*/
}
.btn{
    margin-bottom: 80px;
}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 1px 80px;
    font-size: 1.5rem;
    text-align: center;
    color: #F7C945;;
    border-radius: 10px;
    background-color:#569C87;
    display: block;
    margin: auto;
    font-family: "kyay"
}