

/* tête de la page avec nom du site*/
html{
    height: 100%;
}
body{
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}
/*pour la tête et le pied de page*/
.top,footer{
    display: flex;
    justify-content: center;
    background-color: #569C87;
    color: #F7C945;
    }
   /* footer{
        position: fixed; bottom: 0; left: 0; right: 0;
    }*/
/*gestion centre de la page avec les 4 menu*/
.conteneur{
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 350px;
}
.m1,.m2,.m3,.m4{        /* menu*/
    box-sizing: content-box;
    width: 350px;
    border: solid #5B6DCD 10px;
    padding: 5px;
    height: 450px;
    margin-bottom: 50px;
    background-attachment: fixed;
    overflow: auto;
}
}
.space{                 /*espace pour le txt pied de page*/ 
    width: 1390px;
}
